//tablet only
// @media screen and (min-width: 768px) and (max-width: 1199px)

.header {
  background-color: var(--bg-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation .header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
}

// навигация
.header__navigation {
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
  }
}

.header__item {
  // margin-right: 50px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // margin-right: 50px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header__item.tablet:not(:last-child) {
  margin-bottom: 10px;
}

.header__list > .header__item:last-child {
  margin-right: 0;
}

// хедер лист
.header__list {
  margin-left: auto;
}

.header__list.tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin-left: auto;
  }
}

//tablet only
// @media screen and (min-width: 768px) and (max-width: 1199px)

.header__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__link--active {
  position: relative;
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link--active::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__svg {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    fill: var(--accent-color);
  }
}
